.checkbox-wrapper-49 input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.checkbox-wrapper-49 {
  --size: 60px;
}

.checkbox-wrapper-49 .block {
  position: relative;
  clear: both;
  float: left;
}

.checkbox-wrapper-49 label {
  width: var(--size);
  height: calc(var(--size) / 2);
  box-sizing: border-box;
  border: 3px solid;
  float: left;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease;
  color: black;
}
.checkbox-wrapper-49 input[type="checkbox"]:checked + label {
  background: #000000;
}
.checkbox-wrapper-49 input[type="checkbox"]:checked + label:before {
  left: calc(var(--size) / 2);
}
.checkbox-wrapper-49 label:before {
  transition: 0.3s ease;
  content: "";
  width: calc((var(--size) / 2) - 10px);
  height: calc((var(--size) / 2) - 10px);
  position: absolute;
  background: rgb(255, 255, 255);
  left: 2px;
  top: 2px;
  box-sizing: border-box;
  border: 3px solid;
  color: black;
  border-radius: 100px;
}

body {
  height: 100vh;
  display: flex;
  background: #a9f440;
  align-items: center;
  justify-content: center;
}

#img {
  border-top: 10px solid #f0a500;
  border-bottom: 40px solid #f0a500;
  border-left: 10px solid #f0a500;

  border-right: 10px solid #f0a500;
  border-radius: 10px;
}
#img:hover {
  border-top: 10px solid #e6d5b8;
  border-bottom: 40px solid #e6d5b8;
  border-left: 10px solid #e6d5b8;

  border-right: 10px solid #e6d5b8;
}
#input {
  border-bottom: 3px solid #f0a500;
}
#input:focus {
  outline: none;
}
body {
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  min-width: 100%;
  position: static;
  /* transform: translate(-50%, -50%); */
}
.skill-area {
  width: 100%;
  padding: 50px 30px;
  border-radius: 10px;
}
.skill-area h2 {
  margin-bottom: 40px;
  letter-spacing: 2px;
}
.box:not(:last-child) {
  margin-bottom: 30px;
}
.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.line-area {
  position: relative;
  background-color: #f0a500;
  padding: 10px;
  border-radius: 10px;
}
.line-area div {
  position: relative;
  width: 0;
  height: 5px;
  background-color: #fff;
  border: 1px solid #fff;
}
#line-1 {
  animation: ani-1 2s forwards;
}
@keyframes ani-1 {
  100% {
    width: 85%;
  }
}
#line-2 {
  animation: ani-2 2s forwards;
}
@keyframes ani-2 {
  100% {
    width: 95%;
  }
}
#line-3 {
  animation: ani-3 2s forwards;
}
@keyframes ani-3 {
  100% {
    width: 75%;
  }
}
#line-4 {
  animation: ani-4 2s forwards;
}
@keyframes ani-4 {
  100% {
    width: 60%;
  }
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #f0a500;
  transform-origin: bottom;
}
.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #f0a500;
  transform-origin: top;
}

*::selection {
  background-color: #f0a500;
  color: #fff;
}

.toggle {
  background-color: #f0a500;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.1);
  line-height: 1;
}

.input {
  display: none;
}

.icon {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  transition: transform 200ms;
}

.icon--moon {
  transition-delay: 200ms;
  color: black;
}

.icon--sun {
  transform: scale(0);
  color: yellow;
}

#switch:checked + .icon--moon {
  transform: rotate(360deg) scale(0);
}

#switch:checked ~ .icon--sun {
  transition-delay: 10ms;
  transform: scale(1) rotate(360deg);
}

/* side bar */

.button-container {
  display: flex;
  flex-direction: column;
  background-color: #f0a500;
  width: 45px;
  height: 70%;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px, #f0a500 5px 5px 10px; */
}

.button {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  padding: 40px 0px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  margin: 4px;
}

.button:hover {
  transform: translateY(-3px);
  color: #e6d5b8;
}

.icon {
  font-size: 20px;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
